.ChatCard .chat-map-container {
  overflow-y: auto;
  height: 79vh;
  /* border: 1px solid; */
}

.ChatCard form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: max(7vh, 45px);
  background-color: black;
  display: flex;
  align-items: center;
  padding: 0 5px;
  /* border: 1px solid red; */
}

.ChatCard .form-group {
  display: flex;
  width: 100%;
}

.ChatCard form input {
  width: 100%;
  font-size: 1.2rem;
  border-radius: 15px;
  height: 40px;
  outline: none;
  border: none;
  padding: 2px 15px;
}

.ChatCard .send-btn button {
  height: 40px;
  border: none;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  background-color: green;
}
