.ChatMap .me {
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 20px 0;
}

.ChatMap .person {
  position: relative;
  margin: 20px 0px;
}

.ChatMap .right,
.ChatMap .left {
  /* border: 1px solid green; */
  color: black;
  padding: 10px 10px 0 10px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
  /* border-radius: 10px; */
}

.ChatMap .right {
  padding-right: 30px;
  background-color: rgb(11, 71, 16);
  border-radius: 10px 0px 0px 10px;
}
.ChatMap .left {
  padding-left: 30px;
  background-color: rgb(53, 53, 53);
  border-radius: 0 10px 10px 0;
}

.ChatMap .curve-right {
  /* border: 1px solid red; */
  height: 100%;
  width: 20px;
  float: right;
  position: absolute;
  border-radius: 0 0 0 20px;
  background-color: rgb(204, 204, 204);
}

.ChatMap .curve-left {
  /* border: 1px solid green; */
  height: 100%;
  width: 20px;
  float: left;
  background-color: rgb(204, 204, 204);
  position: absolute;
  border-radius: 0 0 20px 0px;
}

.ChatMap .curve-left::after,
.ChatMap .curve-right::after {
  display: table;
  clear: both;
  content: "";
}

.ChatMap .right .date-container,
.ChatMap .left .date-container {
  /* border: 1px solid white; */
  padding-bottom: 2px;
  font-size: 12px;
  color: rgb(70, 70, 70);
}

.ChatMap .right .date-container {
  display: flex;
  justify-content: flex-end;
}

.ChatMap .left .date-container {
  display: flex;
}

.ChatMap .date-container .date {
  /* border: 1px solid; */
  display: flex;
  align-items: flex-end;
  /* background-color: rgb(228, 228, 228); */
  border-radius: 3px;
  padding: 0 2px;
  color: rgb(184, 184, 184);
}

.ChatMap .date-container .time {
  /* border: 1px solid; */
  display: flex;
  align-items: flex-end;
  margin: 0 0 0 3px;
  /* background-color: rgb(228, 228, 228); */
  border-radius: 3px;
  padding: 0 2px;
  color: rgb(184, 184, 184);
}

.ChatMap .message {
  /* border: 1px solid; */
  margin-bottom: 10px;
  color: white;
}
