.Chat .head-top {
  margin-top: max(7vh, 45px);
  height: max(7vh, 45px);
  display: flex;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  align-items: center;
  box-shadow: 0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray,
    0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}

.Chat .head-top .profile-picture {
  width: 5.5vh;
  height: 5.5vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 230, 232);
  margin: 0px 10px;
}

.Chat {
  background-image: linear-gradient(
    to top,
    #ff9a9e 0%,
    #fecfef 99%,
    #fecfef 100%
  );
}

@media all and (min-width: 700px) {
  .Chat {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .Chat form {
    bottom: 0;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
}
