.ChatMap .me {
  /* border: 1px solid; */
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 20px 0;
}

.ChatMap .person {
  position: relative;
  margin: 20px 0;
}

.ChatMap:last-child {
  margin-bottom: 13vh;
}

.ChatMap .right,
.ChatMap .left {
  /* border: 1px solid green; */
  color: black;
  padding: 10px;
  width: fit-content;
  max-width: 80%;
  border-radius: 10px;
  word-wrap: break-word;
  /* border-radius: 10px; */
}

.ChatMap .right {
  padding-right: 30px;
  background-color: rgb(238, 251, 255);
}
.ChatMap .left {
  padding-left: 30px;
  background-color: rgb(241, 241, 241);
}

.ChatMap .curve-right {
  /* border: 1px solid red; */
  height: 100%;
  width: 20px;
  float: right;
  position: absolute;
  border-radius: 0 0 0 20px;
  background-color: white;
}

.ChatMap .curve-left {
  /* border: 3px solid green; */
  height: 100%;
  width: 20px;
  float: left;
  position: absolute;
  border-radius: 0 0 20px 0px;
  background-color: white;
}

.ChatMap .curve-left::after,
.ChatMap .curve-right::after {
  display: table;
  clear: both;
  content: "";
}

.ChatMap .right .date-container,
.ChatMap .left .date-container {
  /* border: 1px solid; */
  font-size: 0.8rem;
  color: rgb(70, 70, 70);
}

.ChatMap .right .date-container {
  display: flex;
  justify-content: flex-end;
}

.ChatMap .left .date-container {
  display: flex;
}

.ChatMap .date-container .date {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  padding: 0 2px;
}

.ChatMap .date-container .time {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  margin: 0 0 0 3px;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  padding: 0 2px;
}

.ChatMap {
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  /* border: 1px solid; */
  /* position: absolute; */
}
