.Chat form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  /* margin: 10px 20px; */
  /* border-radius: 4px; */
  background-color: black;
  height: 8vh;
  padding: 10px;
  z-index: 1;
  border: 1px solid;
}

/* to hover send btn next to input */

.Chat .form-group .send-btn button {
  margin: 0 5px 0 10px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: green;
  border: none;
  color: white;
  width: 80%;
  font-size: 1.2rem;
}

.Chat .form-group .send-btn {
  /* border: 1px solid white; */
  position: absolute;
  right: 0;
  /* top: 0; */
  width: 20%;
  display: flex;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
}

.Chat .form-group input {
  position: absolute;
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  width: 80%;
  max-width: 80%;
  padding: 5px 20px;
  font-size: 1.2rem;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid black;
  border-radius: 15px;
  outline: none;
}

.Home .Hamburger {
  z-index: 1;
}

/* for head flex */
.Chat .head-top {
  display: flex;
  /* border: 1px solid; */
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  /* background-color: white; */
  height: 7vh;
  align-items: center;
  box-shadow: 0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray,
    0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray;

  position: fixed;
  left: 0;
  right: 0;
  top: 7vh;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  /* z-index: 1; */
}

.Chat .profile-picture {
  /* border: 1px solid; */
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 230, 232);
  margin: 0px 10px;
}

.Chat .name {
  font-size: 1rem;
  font-weight: 450;
  margin: 0 10px 0px 0;
}
.Chat {
  /* border: 1px solid green; */
  height: 86vh;
  margin-top: 14vh;
  position: relative;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  background-image: url("../../john-fowler-RsRTIofe0HE-unsplash.jpg");
  /* background-repeat: repeat; */
  background-size: cover;
  background-position: center;
  /* opacity: 0.1; */
  /* background-color: rgba(0, 0, 0, 0.9); */
  /* z-index: -1; */
}

@media only screen and (max-width: 800px) {
  .Chat {
    background-image: url("../../masaaki-komori-14cHwhRKJh8-unsplash.jpg");
  }
}

@media only screen and (max-device-width: 800px) {
  .Chat {
    background-image: url("../../masaaki-komori-14cHwhRKJh8-unsplash.jpg");
  }
}

@media all and (min-width: 700px) {
  .Chat {
    width: 700px;
    /* margin: 7vh auto; */
    margin-left: auto;
    margin-right: auto;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
  }

  .Chat form {
    bottom: 0;
    width: 700px;
    margin-right: auto;
    margin-left: auto;
  }
}
