.ChatList {
  display: block;
  height: 91vh;
  overflow-y: auto;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  margin: 8vh 1vh 1vh 1vh;
  border-radius: 5px;
  box-shadow: 0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray,
    0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray;
  cursor: pointer;
}

.ChatList .ChatListCard a {
  display: block;
  text-decoration: none;
  /* color: green; */
  /* border: 1px solid; */
  /* border: 1px solid red; */
  display: flex;
  height: 8vh;
  align-items: center;
  align-items: center;
  /* padding: 50px 0; */
}

.ChatList .profile-picture {
  height: 6.2vh;
  width: 6.2vh;
  min-width: 6.2vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
  color: rgb(36, 36, 36);
  margin: 0 10px;

  background-color: rgb(255, 230, 233);
}

.ChatList .name {
  border-bottom: 1px solid rgb(148, 148, 148);
  height: 7.8vh;
  flex-basis: 100%;
  display: flex;
  align-items: center;
  /* border: 1px solid; */
  /* flex-basis: 100%; */
  color: black;
}

.ChatList .read-container {
  /* border: 1px solid red; */
  margin-right: 10px;
  height: 7.8vh;
  color: rgb(41, 41, 41);
  border-bottom: 1px solid rgb(148, 148, 148);
  min-width: 100px;
}

.ChatList .date-container {
  display: flex;
  /* border: 1px solid green; */
  font-size: 0.75rem;
  height: 3.5vh;
  padding: 2px;
  align-items: center;
}

.ChatList .date {
  /* border: 1px solid; */
  margin-right: 5px;
}

.ChatList .time {
  /* border: 1px solid; */
}

.ChatList .read {
  /* border: 1px solid blue; */
  display: flex;
  padding: 2px;
  justify-content: center;
  height: 4vh;
  align-items: center;
}

.ChatList .show-read.isread {
  width: fit-content;
  /* border: 1px solid; */
  border-radius: 50%;
  width: 3.3vh;
  height: 3.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  color: white;
}

.ChatList .empty-chatlist {
  margin: 10px 20px;
  background-color: white;
  /* height: 20vh; */
  padding: 20px 0px 20px 10px;
  /* display: flex; */
  /* justify-content: center; */
  /* border-radius: 4px; */
  font-size: 1.1rem;
  /* align-items: center; */
  /* box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray; */
}

@media all and (min-width: 700px) {
  .ChatList {
    width: 700px;
    /* margin: 7vh auto; */
    margin-left: auto;
    margin-right: auto;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
  }
}
