.MyFriends .MyFriendsCard {
  display: flex;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid; */
}

.MyFriends .people {
  font-size: 1.1rem;
  font-weight: bold;
}
.MyFriends {
  margin: 5vh 5vh;
  background-color: white;
  border-radius: 5px;
  min-height: 83vh;
  border: 1px solid lightgray;
  padding: 20px;
}
.MyFriends .profile-picture {
  /* border: 1px solid; */
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: lightpink;
  font-size: 1.5rem;

  margin-right: 30px;
}

.MyFriends .name-container {
  margin-right: 30px;
}
.MyFriends .name-container .name {
  /* border: 1px solid; */
  font-size: 1.3rem;

  font-weight: 430;
  font-family: "Times New Roman", Times, serif;
}

.MyFriends .username {
  color: darkgray;
}

.MyFriends .add-btn button {
  cursor: pointer;
}
