.UserLikes {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  border: 1px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.UserLikes .box {
  width: 80%;
  background-color: white;
  height: 60vh;
  padding: 20px;
  overflow-y: auto;
  /* border: 1px solid greenyellow; */
  border-radius: 4px;
}

.UserLikes .box .form-close-btn {
  display: flex;
  justify-content: flex-end;
  /* margin: 20px; */
  /* border: 1px solid red; */
  font-size: 1.8rem;
  border-bottom: 1px solid darkgray;
  padding-bottom: 10px;
  /* margin-right: 0; */
}

.UserLikesCard {
  /* border: 1px solid green; */
  /* background-color: red; */
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 5px;
  border-radius: 4px;
  /* background-color: rgb(240, 240, 240); */

  box-shadow: 0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray,
    0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray;
}

.UserLikes .box .form-close-btn button {
  cursor: pointer;
  background-color: white;
  /* color: white; */
  border: none;
}

.UserLikes .UserLikesCard .profile-picture {
  border-radius: 50%;
  /* border: 1px solid; */
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 10px;
  font-size: 18px;
  background-color: rgb(224, 248, 255);
}

.UserLikes .UserLikesCard .name {
  flex-basis: 100%;
  /* border: 1px solid; */
}

.UserLikes .UserLikesCard .name a {
  text-decoration: none;
  color: black;
}

.UserLikes .UserLikesCard .name a:hover {
  text-decoration: underline;
}

.UserLikes .UserLikesCard .add-btn-container {
  background-color: darkgray;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border-radius: 50%;
  margin: 0 0px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid; */
}

.UserLikes .UserLikesCard .add-btn {
  font-size: 15px;
  cursor: pointer;
}
