.UserPost .UserPostCard {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid red; */
  margin: 1.3vh 1vh;
  /* background-color: white; */
  /* background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%); */
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  border-radius: 4px;
  box-shadow: 0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray,
    0.3px 0.3px 4px lightgray, -0.3px -0.3px 4px lightgray;
}

.UserPost .UserPostCard .head .profile-picture {
  border-radius: 50%;
  min-height: 50px;
  max-height: 50px;
  min-width: 50px;
  max-width: 50px;
  /* border: 1px solid; */
  margin-right: 10px;
  background-color: rgb(255, 230, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 450;
  /* border: 1px solid white; */
}

.UserPost .UserPostCard .head .name-container {
  margin-right: 30px;
  /* border: 1px solid; */
  flex-basis: 100%;
  line-height: 100%;
}
.UserPost .UserPostCard .head .name-container .name {
  /* border: 1px solid red; */
  font-size: 1.3rem;
  width: fit-content;
  font-weight: 430;
}

.UserPost .UserPostCard .head .name-container .name a {
  display: block;
  text-decoration: none;
  color: black;
}

.UserPost .UserPostCard .head .name-container .name a:hover {
  text-decoration: underline;
}

.UserPost .UserPostCard .head .username {
  color: rgb(68, 68, 68);
  font-size: 1rem;
}

.UserPost .UserPostCard .head {
  display: flex;
  /* border: 1px solid; */
  border-radius: 5px;
  background-color: white;
  padding: 5px 4px;
  align-items: center;
  margin-bottom: 10px;
}

.UserPost .UserPostCard .head .option-btn {
  /* border: 1px solid; */
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  color: rgb(126, 126, 126);
  align-items: center;
  position: relative;
  z-index: -1;
}

.UserPost .UserPostCard .head .hamburger-menu {
  position: absolute;
  top: 100%;
  /* border: 1px solid; */
  right: 100%;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  min-width: 200px;
  border-radius: 4px;
  box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray;
}

.UserPost .UserPostCard .head .menu-btn {
  /* border: 1px solid red; */
  /* padding: 10px; */
  /* height: 5vh; */
  display: flex;
  align-items: center;
  padding: 8px;
  /* width: fit-content; */
}
.UserPost .UserPostCard .head .menu-btn .icon {
  /* border: 1px solid; */
  min-width: 40px;
  font-size: 1.4rem;
  /* text-align: center; */
}

.UserPost .UserPostCard .head .menu-btn .label {
  /* border: 1px solid red; */
  /* display: block; */
  /* width: fit-content; */
  flex-basis: 100%;
}

.UserPost .UserPostCard .head .option-btn .btn {
  /* border: 1px solid; */
  height: 100%;
  display: flex;
  align-items: center;
}

.UserPost .UserPostCard .head .option-btn .btn:focus {
  background-color: darkgray;
  cursor: pointer;
  border-radius: 4px;
}

.UserPost .UserPostCard .head .menu-btn:hover {
  background-color: lightgray;
  cursor: pointer;
}

.UserPost .post-title {
  /* border: 1px solid green; */
  font-family: "Roboto Slab", serif;
  font-size: 1.3rem;
  color: rgb(54, 54, 54);
}

.UserPost .post-content {
  margin-top: 1px;
  /* border: 1px solid; */
  /* color: rgb(61, 61, 61); */
  color: rgb(41, 41, 41);
  font-size: 1rem;
  line-height: 110%;
  text-align: justify;
}

.UserPost .post-content::first-line {
  text-indent: 2%;
}

.UserPost .post-content-container {
  margin-top: 10px;
  /* border: 1px solid red; */
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}

.UserPost .card-footer {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 1.3rem;
  /* margin: 10px 0; */
  height: 7vh;
  align-items: center;
  /* margin-bottom: 10px; */
}

.UserPost .card-footer .comment-icon:hover,
.UserPost .like-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* color: blue; */
}

.UserPost .UserPostCard .comment-list {
  /* border: 1px solid red; */
  max-height: 60vh;
  overflow-y: auto;
  width: 100%;
  overflow-x: hidden;
  border-radius: 4px;
  /* margin: 15px 0; */
  padding: 10px;
  /* box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray; */
}

.UserPost .UserPostCard .no-like {
  padding: 10px;
  /* border: 1px solid; */
  width: fit-content;
  /* color: blue; */
  color: rgb(56, 56, 56);
}

.UserPost .UserPostCard .no-like:hover {
  text-decoration: underline;
  cursor: pointer;
}

.UserPost .no-comment {
  /* border: 1px solid; */
  /* margin: 5px 0; */
  /* padding: 10px 0; */
  /* margin-bottom: 10px; */
  color: rgb(56, 56, 56);
}

.UserPost .empty-posts {
  /* border: 1px solid; */
  margin: 10px 20px;
  /* background-color: white; */
  height: 20vh;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  font-size: 1.3rem;
  align-items: center;
  /* box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray; */
}

.UserPost:not(.UserPost.myaccount) {
  /* border: 1px solid red; */
  margin-top: 7vh;
  height: 93vh;
  overflow-y: auto;
}

.UserPost.myaccount {
  margin-top: 0;
  /* border: 1px solid green; */
  overflow-y: hidden;
  /* min-height: 100vh; */
  /* height: 100vh; */
  height: fit-content;
}

.UserPost .post-date {
  /* display: flex; */
  /* border: 1px solid; */
  margin: 0 5px;
  color: rgb(65, 65, 65);
  font-size: 0.8rem;
}

.UserPost .post-date div {
  margin: 0 2px;
  display: flex;
  justify-content: center;
}

.UserPost .share-icon {
  position: relative;
  cursor: pointer;
  /* z-index: -1; */
}

.UserPost #copy {
  /* border: 1px solid; */
  position: absolute;
  top: -7vh;
  right: 50%;
  left: 50%;
  transform: translateX(-50%);
  /* left: -300%; */
  /* transform: translateX(0%); */
  /* transform: translateY(-250%); */
  font-size: 20px;
  width: 150px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 10px;

  background-color: rgba(15, 15, 15, 0.3);
}

@media all and (max-width: 800px), (max-device-width: 800px) {
  .UserPost .UserPostCard .head .name-container .name {
    font-size: 1rem;
    /* border: 1px solid; */
    display: block;
  }

  .UserPost .UserPostCard .head .name-container .username {
    font-size: 0.9rem;
  }

  .UserPost .UserPostCard .post-date {
    font-size: 0.7rem;
    line-height: 110%;
  }

  .UserPost .UserPostCard .head .profile-picture {
    min-height: 40px;
    max-height: 40px;
    min-width: 40px;
    max-width: 40px;
    font-size: 1rem;
  }
}

@media all and (min-width: 700px) {
  .UserPost {
    width: 700px;
    /* margin: 7vh auto; */
    margin-left: auto;
    margin-right: auto;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
  }
}
