.Login {
  /* border: 1px solid; */
  height: 93vh;
  overflow-y: auto;
  position: relative;
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.Login form {
  width: fit-content;
  margin: 20px auto;
  /* border: 1px solid; */
  padding: 30px;
  border-radius: 4px;
  background-color: rgb(200, 221, 228);

  box-shadow: 0.3px 0.3px 15px white, -0.3px -0.3px 15px white,
    0.3px 0.3px 15px white, -0.3px -0.3px 15px white;
}

.Login .head {
  font-size: 2rem;
  font-weight: bold;
}

.Login form input {
  font-size: 1rem;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 4px;
}
.Login form input:focus {
  box-shadow: 0.3px 0.3px 4px blue;
  border: 1px solid blue;
  outline: none;
}

.Login .form-group {
  margin: 20px 0;
  /* border: 1px solid; */
}

.Login .form-group label {
  font-size: 1.2rem;
  font-weight: bold;
  display: block;
}

.Login .login-btn button,
.Login .signup-btn button {
  border: none;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 5px 20px;
  border-radius: 3px;
  /* margin: 0 10px; */
  margin-right: 5px;
}

.Login .login-btn button {
  background-color: blue;
}

.Login .signup-btn button {
  background-color: green;
}

.Login .login-btn button:hover {
  transform: scale(1.01);
  background-color: darkblue;
}

.Login .signup-btn button:hover {
  transform: scale(1.01);
  background-color: darkgreen;
}

.Login .buttons {
  display: flex;
}
