.NewsFeed .NewsFeedCard {
  padding: 20px;
  border-bottom: 1px solid lightgray;
  /* border: 1px solid red; */
  margin: 10px 20px;
  background-color: white;
  border-radius: 4px;
}

.NewsFeed .NewsFeedCard .head .profile-picture {
  border: 1px solid;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: lightpink;
  font-size: 1.5rem;

  margin-right: 30px;
}

.NewsFeed .NewsFeedCard .head .name-container {
  margin-right: 30px;
  border: 1px solid;
  flex-basis: 100%;
}
.NewsFeed .NewsFeedCard .head .name-container .name {
  /* border: 1px solid; */
  font-size: 1.3rem;

  font-weight: 430;
  font-family: "Times New Roman", Times, serif;
}

.NewsFeed .NewsFeedCard .head .username {
  color: darkgray;
}

.NewsFeed .NewsFeedCard .head {
  display: flex;
  border: 1px solid;
}

.UserPost .post-title {
  border: 1px solid;
  font-weight: bold;
  font-family: cursive;
}

.UserPost .post-content {
  margin-top: 1px;
  border: 1px solid;
  color: rgb(61, 61, 61);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.UserPost .post-content::first-line {
  text-indent: 5%;
}

.UserPost .post-content-container {
  margin-top: 10px;
  /* border: 1px solid red; */
  padding-bottom: 20px;
  border-bottom: 1px solid darkgray;
}

.UserPost .card-footer {
  display: flex;
  justify-content: space-around;
  /* border: 1px solid red; */
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  font-size: 1.3rem;
  /* margin: 10px 0; */
  height: 7vh;
  align-items: center;
  /* margin-bottom: 10px; */
}

.UserPost .card-footer .comment-icon:hover,
.UserPost .like-icon:hover,
.UserPost .share-icon:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* color: blue; */
}

.UserPost .UserPostCard .comment-list {
  border: 1px solid red;
  max-height: 60vh;
  overflow: auto;
  border-radius: 4px;
  margin: 15px 0;
  /* box-shadow: 0.3px 0.3px 4px darkgray, -0.3px -0.3px 4px darkgray; */
}

.UserPost .UserPostCard .no-like {
  height: 5vh;
  border: 1px solid;
  display: flex;
  align-items: center;
}
